<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.ei.opensrp.gizi">

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:name="org.ei.opensrp.gizi.application.GiziApplication">
        <!-- local key -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="5bda8a6293b5b89b510a53e5d297d42bdf427e10" />
       <!-- <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b74c58c94d8965151212e8ecf1f4fdfbf5b7f4e4" />-->

        <activity
            android:name="org.ei.opensrp.gizi.LoginActivity"
            android:theme="@android:style/Theme.Holo"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="landscape"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.ei.opensrp.gizi.NativeHomeActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="landscape"/>
        <activity android:name="org.ei.opensrp.gizi.gizi.GiziSmartRegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppThemeNoActionBarAndTitle"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="landscape"/>
        <activity android:name=".gizi.ChildDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppThemeNoActionBarAndTitle"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="landscape"/>
        <activity android:name=".gizi.GiziGrowthChartActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppThemeNoActionBarAndTitle"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="landscape"/>
        <activity android:name=".gizi.GiziZScoreChartActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppThemeNoActionBarAndTitle"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="landscape"/>
    </application>

</manifest>