.alert.overdue, .alert.upcoming, .alert.completed {
    padding-right: 5px;
    padding-left: 8px;
    color: #222;
}

.alert .todo-box {
    width: 100%;
    height: auto;
}

.alert.overdue {
    background: #f7cbcb;
}

.alert.upcoming {
    background: #c4e4f8;
}

.alert.completed {
    background: #cde6c1;
}

.alert.overdue .todo-box.checked {
    content: url(../img/checkbox_overdue.png)
}

.alert.overdue .todo-box:not(.checked) {
    content: url(../img/checkbox_overdue_unchecked.png)
}

.alert.upcoming .todo-box.checked {
    content: url(../img/checkbox_upcoming.png)
}

.alert.upcoming .todo-box:not(.checked) {
    content: url(../img/checkbox_upcoming_unchecked.png)
}

.alert.completed .todo-box.checked {
    content: url(../img/checkbox_completed.png)
}

.alert.completed .todo-box:not(.checked) {
    content: url(../img/checkbox_completed_unchecked.png)
}

.alert-todo-message {
    margin-top: 10px;
}

.alert-todo {
    margin-bottom: 8px;
}

.beneficiaryName {
	font-weight: bold;
	font-size: 19px;
	margin-bottom: 3px;
	margin-top: 3px;
}
