.alert.overdue, .alert.upcoming, .alert.completed {
    padding-right: 5px;
    padding-left: 8px;
    color: #222;
}

.alert .todo-box {
    width: 55px;
    height: 55px;
}

.alert.overdue {
    background: #f7cbcb;
    border-color: #da0e0e;
    border-width: 1px;
}

.alert.upcoming {
    background: #c4e4f8;
    border-color: #3b6f90;
    border-width: 1px;
}

.alert.completed {
    background: #cde6c1;
    border-color: #3e9143;
    border-width: 1px;
}

.alert.overdue .todo-box.checked {
    content: url(../img/checkbox_overdue.png)
}

.alert.overdue .todo-box:not(.checked) {
    content: url(../img/checkbox_overdue_unchecked@3x.png)
}

.alert.upcoming .todo-box.checked {
    content: url(../img/checkbox_upcoming.png)
}

.alert.upcoming .todo-box:not(.checked) {
    content: url(../img/checkbox_upcoming_unchecked@3x.png)
}

.alert.completed .todo-box.checked {
    content: url(../img/checkbox_completed@3x.png)
}

.alert.completed .todo-box:not(.checked) {
    content: url(../img/checkbox_completed_unchecked.png)
}

.alert-todo-message {
    margin-top: 10px;
}

.alert-todo {
    margin-bottom: 8px;
}

.beneficiaryName {
    font-weight: bold;
    font-size: 19px;
    margin-top: 3px;
}

.husbandName {
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 17px;
}

.dueDate {
    margin-top: 5px;
    float: right;
}
