@font-face {
    font-family: 'RobotoRegular';
    src: url('../font/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.navbar.navbar-fixed-top {
    margin-left: -10px;
    margin-top: -2px;
}

.navbar .navbar-inner {
    padding-left: 15px;
    zoom: 125%;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#1a93d2), to(#1c83ba));
    background: -webkit-linear-gradient(top, #1a93d2 0%, #1c83ba 100%)
}

.menu-button-container {
    padding: 5px;
    padding-bottom: 0px;
}

.menu-button-container .menu-button {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#969696), to(#7c7c7c));
    background: -webkit-linear-gradient(top, #969696 0%, #7c7c7c 100%);
    color: #fff;
    border-radius: 2px;
    text-align: center;
    height: 90px;
    min-height: 0px;
    padding-top: 16px;
    font-size: 17px;
    text-shadow: 0px 1px 2px #000;

}

.menu-button-row-padding {
    padding-top: 6px;
    padding-bottom: 4px;
}

.menu-background {
    background: #343434;
}

.menu-icon {
    margin-bottom: 10px;
}

.brand.in-navbar {
    margin-top: 2px;

}

.nav .navbar-text {
    color: #fff;
    font-weight: 500;
}

.navbar .sidepanel-icon {
    content: url(../img/icons/sidepanel-icon.png);
    margin-right: 4px;
}

.navbar .separator {
    content: url(../img/icons/separator.gif);
    margin-right: 4px;
}

.navbar .update-data {
    content: url(../img/icons/update-data.png);
    margin-right: 4px;
    height: 40px;
    width: 65px;
}

.navbar .header-text {
    font-weight: 500;
    font-size: 20px;
    color: #E8FDFE;
}

.navbar .nav .name {
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    margin-top: 12px;
    vertical-align: text-bottom;
    text-shadow: 0 1px 2px #000000;
    width: 105px;
}

.navbar-icon {
    margin-top: 12px;
    margin-bottom: 12px;
}

.nav.pull-right:last-child {
    padding-right: 9px;
}

.high-priority {
    color: #f51136 !important;
    font-size: 18px;
}

.divider-vertical.in-navbar {
    background-color: #124a65;
    border-right-color: #073851;
}

.alert.alert-info {
    background-color: #aedae9;
    border: 1px solid #9dc4d3;
}

.registry-container {
    padding: 8px;
}

.big-text {
    font-weight: bold;
    font-size: 22px;
    color: #0591d3;
    line-height: 22px;
    margin-bottom: 3px;
}

.big-text-margin {
    font-weight: bold;
    font-size: 22px;
    color: #0591d3;
    line-height: 22px;
    margin-bottom: 3px;
    margin-top: 10px;
}

.text-blue {
    color: #0591d3;
}

.big-text-numbers {
    font-weight: bold;
    font-size: 24px;
    color: #222;
    line-height: 22px;
    margin-bottom: 3px;
    letter-spacing: -.5px;
}

.light-text {
    color: #999;
}

.medium-text {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: -.5px;
}

.ec-information-button {
    padding-left: 4px;
    padding-right: 4px;
}

.content {
    margin-top: 48px;
    padding-top: 2px;
}

.content-detail {
    margin-top: 72px;
    padding-top: 4px;
}

.divider {
    height: 1px;
    width: 100%;
    overflow: hidden;
    background-color: #b4b4b4;
    border-bottom: 1px solid #ffffff;
}

.divider-with-margin {
    height: 1px;
    width: 100%;
    overflow: hidden;
    background-color: #b4b4b4;
    border-bottom: 1px solid #ffffff;
    margin-top: 8px;
}

.menu-option-divider {
    height: 1px;
    width: 100%;
    overflow: hidden;
    background-color: #6a6a6a;
}

.right-border {
    border-right: 1px solid #b4b4b4;
}

.padded {
    padding: 5px;
}

.summary-text {
    margin-bottom: 8px;
    font-size: 20px;
    margin-top: 4px;
    margin-left: 4px;
}

.divider.divider-padding-top {
    margin-top: 10px;
}

.divider.divider-padding-bottom {
    margin-bottom: 10px;
}

.divider.divider-padding-both {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.well-for-beneficiary-details {
    padding: 8px;
    padding-top: 0px;
    margin-bottom: 0px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 3px 6px rgba(29, 17, 0, 0.25);
    -moz-box-shadow: 0px 3px 6px rgba(29, 17, 0, 0.25);
    box-shadow: 0px 3px 6px rgba(29, 17, 0, 0.25);
    border: 1px solid #ccc;
}

.well-for-beneficiary-details-no-padding {
    padding: 0px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 3px 6px rgba(29, 17, 0, 0.25);
    -moz-box-shadow: 0px 3px 6px rgba(29, 17, 0, 0.25);
    box-shadow: 0px 3px 6px rgba(29, 17, 0, 0.25);
    border: 1px solid #ccc;
}

.beneficiary-detail-component {
    padding-top: 8px;
}

.beneficiary-detail-content {
    padding-left: 8px;
}

.beneficiary-detail-content .info {
    padding-top: 8px;
    padding-bottom: 8px;
}

.beneficiary-detail-component .beneficiary-detail-header {
    font-weight: bold;
    margin-bottom: 4px;
}

.beneficiary-detail-component .beneficiary-detail-footer {
    font-weight: bold;
    margin-top: 4px;
    font-size: 17px;
}

.family-planning-button {
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 6px;
    display: block;
}

.family-planning-current {
    margin-left: 5px;
    color: #666666;
}

.ec-child {
    display: inline-block;
    padding: 10px;
    width: 60px;
    border-radius: 4px;
    margin-right: 5px;
}

.ec-child.boy {
    background-color: #beedf0;
}

.ec-child.girl {
    background-color: #f5dcf3;
}

body {
    font-family: 'RobotoRegular' !important;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #f2f2f2;
    background-image: url("../img/background.png");
}

.container-section {
    padding-right: 10px;
    padding-left: 10px;
}

.container-section .container-section-component {
    margin-bottom: 10px;
}

.container-section:last-child {
    margin-bottom: -10px;
}

.ec-actions-button {
    font-weight: bold;
    display: block;
}

.high-risk {
    color: #d50000;
}

.normal-risk {
    color: #0a8bcc;
}

.client-list-item .high-risk {
    color: red;
    font-size: 15px;
}

.pull-text-completely-right {
    float: right;
    text-align: right;
}

.pull-text-completely-right .villages {
    font-weight: 500;
}

.hide-extra {
    overflow: hidden;
}

.client-list-item, .client-list-item:hover, .client-list-item:visited, .client-list-item:visited:hover {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #333;
}

.client-list-item .big-text {
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 0px;
    margin-top: -6px;
    color: #222;
}

.menu-option div[class*="span"] {
    min-height: 0px;
}

.content .menu-option {
    font-weight: 500;
    font-size: 17px;
    color: #f2f2f2;
    min-height: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.home-menu-icon, .home-menu-icon:hover, .home-menu-icon:visited, .home-menu-icon:visited:hover {
    text-decoration: none;
    color: #d5d5d5;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.profile-alert {
    margin-top: -10px;
    margin-left: -8px;
    margin-right: -8px;
}

.risk-detail-text {
    color: #989898;
}

.detail-section-header {
    color: #999999;
    margin-bottom: 6px;
    margin-left: 5px;
    font-size: 17px;
    letter-spacing: -.5px;
}

.unavailable-data {
    color: #989898;
    padding-top: 10px;
    margin-bottom: 6px;
    text-align: center;
    font-size: 16px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.expand {
    text-align: center;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #0591D3;
}

.meta-summary-text {
    color: #b4b4b4;
}

.progress-indicator {
    height: 28px;
    margin-top: 8px;
}

.hidden {
    display: none;
}

#blur {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.75;
    background-color: black;
    z-index: 10000;
    top: 0;
}

#warning {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.75;
    background-color: black;
    z-index: 10000;
    top: 0;
}

.modal-container {
    display: none;
    position: absolute;
    width: 80%;
    opacity: 1;
    z-index: 10001;
    top: 10%;
    left: 10%;
}

.modal-content {
    display: none;
    background-color: white;
    border-radius: 10px;
    border: 4px solid #333;
    width: 100%;
    z-index: 100;
}

.modal-filter-content {
    display: none;
    background-color: white;
    border-radius: 10px;
    border: 4px solid #333;
    width: 100%;
    z-index: 100;
}

.modal-triangle {
    height: 20px;
    width: 30px;
    margin-left: 85%;
    margin-top: 10px;
    margin-bottom: -4px;
    z-index: 101;
}

.modal-row {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    font-size: 22px;
    font-weight: bold;
}

.modal-filter-top {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#969696), to(#7c7c7c));
    background: -webkit-linear-gradient(top, #969696 0%, #7c7c7c 100%);
    height: 15px;
    z-index: 101;
    opacity: 1;
    padding-top: 2px;
    padding-left: 5px;
    padding-bottom: 5px;
    color: #ffffff;
}

.modal-filter-bottom {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#969696), to(#7c7c7c));
    background: -webkit-linear-gradient(top, #969696 0%, #7c7c7c 100%);
    height: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.filter .check {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.btn.filter {
    margin-right: 10px;

}

.spacing-below {
    margin-bottom: 12px;
}

.dropdown-filter {
    margin-left: -20px;
    margin-right: 2px;
}

.toggle-filter {
    padding-top: 10px;
    width: 100%;
    height: 30px;
    font-weight: bold;
    font-size: 20px;
}

.dropdown-option {
    text-align: center;
    width: 90%;
    height: 40px;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}

.dropdown-option-text {
    padding-top: 10px;
}

.dropdown-menu-filter {
    width: 92%;
    margin-left: 24px;
}

.family-planning-label {
    font-weight: bold;
    margin-left: 5px;
}

.status-bar {
    width: 100%;
    height: 30px;
    background-color: #1d1d1d;
    top: 0;
    position: fixed;
    margin-top: 48px;
}

.status-bar .left-text {
    color: #d8d8d8;
    padding-top: 5px;
    padding-left: 10px;
    float: left;
}

.status-bar .right-text {
    padding-top: 5px;
    padding-right: 10px;
    float: right;
}
