@font-face {
    font-family: 'RobotoRegular';
    src: url('../font/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.navbar.navbar-fixed-top {
    margin-left: -10px;
    margin-top: -2px;
}

.navbar .navbar-inner {
    padding-left: 15px;
    zoom: 125%;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#024565), to(#09405d));
    background: -webkit-linear-gradient(top, #024565 0%, #09405d 100%)
}

.menu-button-container {
    padding: 5px;
    padding-bottom: 0px;
}

.menu-button-container .menu-button {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#555), to(#222));
    background: -webkit-linear-gradient(top, #555 0%, #222 100%);
    color: #fff;
    border-radius: 4px;
    text-align: center;
    height: 80px;
    min-height: 0px;
    padding-top: 10px;
    font-size: 16px;
}

.menu-button-row-padding {
    padding-top: 6px;
    padding-bottom: 4px;
}

.menu-background {
    background: #343434;
}

.menu-icon {
    margin-bottom: 10px;
}

.brand.in-navbar {
    margin-top: 2px;
    color: #e8fdfe;
    font-weight: 500;
}

.nav .navbar-text {
    color: #e8fdfe;
    font-weight: 500;
}

.navbar-brand-icon-holder {
    background-color: #333;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 0px;
    margin-right: 12px;
    border-radius: 2px;
}

.navbar-brand-icon {
    margin-top: 6px;
}

.navbar-icon {
    margin-top: 12px;
    margin-bottom: 12px;
}

.nav.pull-right:last-child {
    padding-right: 9px;
}

.high-priority {
    color: #f51136 !important;
    font-size: 18px;
}

.divider-vertical.in-navbar {
    background-color: #124a65;
    border-right-color: #073851;
}

.alert.alert-info {
    background-color: #aedae9;
    border: 1px solid #9dc4d3;
}

.registry-container {
    padding: 8px;
}

.big-text {
    font-weight: bold;
    font-size: 16px;
}

.ec-information-button {
    padding-left: 4px;
    padding-right: 4px;
}

.content {
    margin-top: 48px;
    padding-top: 2px;
}

.divider {
    height: 1px;
    width: 100%;
    overflow: hidden;
    background-color: #b4b4b4;
    border-bottom: 1px solid #ffffff;
}

.menu-option-divider {
    height: 1px;
    width: 100%;
    overflow: hidden;
    background-color: #6a6a6a;
    border-bottom: 1px solid #646464;
}

.divider.divider-padding-top {
    margin-top: 10px;
}

.divider.divider-padding-bottom {
    margin-bottom: 10px;
}

.divider.divider-padding-both {
    margin-top: 5px;
    margin-bottom: 5px;
}

.container-no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.well-for-beneficiary-details {
    padding: 8px;
    padding-top: 0px;
    margin-bottom: 0px;
    background-color: #ffffff;
    box-shadow: 2px 2px 3px 1px #ccc;
    -webkit-box-shadow: 2px 2px 3px 1px #ccc;
    border: 1px solid #ccc;
}

.beneficiary-detail-component {
    padding-top: 8px;
}

.beneficiary-detail-component .beneficiary-detail-header {
    font-weight: bold;
    margin-bottom: 4px;
}

.beneficiary-detail-component .beneficiary-detail-footer {
    font-weight: bold;
    margin-top: 4px;
}

.family-planning-button {
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 6px;
    display: block;
}

.family-planning-current {
    font-weight: 500;
    margin-left: 5px;
    font-size: larger;
}

.ec-child {
    display: inline-block;
    padding: 10px;
    width: 60px;
    border-radius: 4px;
    margin-right: 5px;
}

.ec-child.boy {
    background-color: #beedf0;
}

.ec-child.girl {
    background-color: #f5dcf3;
}

body {
    font-family: 'RobotoRegular' !important;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #f2f2f2;
    background-image: url("../img/background.png");
}

.container-section {
    padding-right: 10px;
    padding-left: 10px;
}

.container-section .container-section-component {
    margin-bottom: 10px;
}

.container-section:last-child {
    margin-bottom: -10px;
}

.ec-actions-button {
    font-weight: bold;
    display: block;
}

.high-risk {
    color: #d50000;
}

.normal-risk {
    color: #0a8bcc;
}

.client-list-item .high-risk {
    color: red;
}

.pull-text-completely-right {
    float: right;
    text-align: right;
}

.client-list-item, .client-list-item:hover, .client-list-item:visited, .client-list-item:visited:hover {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #333;
}

.client-list-item .big-text {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: -6px;
}

.menu-option div[class*="span"] {
    min-height: 0px;
}

.content .menu-option {
    font-weight: 500;
    font-size: 18px;
    color: #d5d5d5;
    min-height: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.home-menu-icon, .home-menu-icon:hover, .home-menu-icon:visited, .home-menu-icon:visited:hover {
    text-decoration: none;
    color: #d5d5d5;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.profile-alert {
    margin-top: -10px;
    margin-left: -8px;
    margin-right: -8px;
}

.risk-detail-text {
    color: #989898;
}

.detail-section-header {
    color: #989898;
    margin-bottom: 6px;
}

.unavailable-data {
    color: #989898;
    padding-top: 10px;
    margin-bottom: 6px;
    text-align: center;
    font-size: 16px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.meta-summary-text {
    color: #b4b4b4;
}
