.todo img {
	float: right;
	display: block;
	position: relative;
	bottom: 0;
}

.high-risk-header {
	color: #4ca8d6;
	font-size: 15px;
	letter-spacing: .75px;
	font-weight: bold;
}

.normal-risk-header {
	color: #4ca8d6;
	font-size: 15px;
	letter-spacing: .75px;
	font-weight: bold;
}

.high-risk-container {
	margin-bottom: 30px;
}