.navbar .navbar-inner.nav-sidepanel {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#292929), to(#212121));
    background: -webkit-linear-gradient(top, #292929 0%, #212121 100%);
    border: 0;
}

.navbar.sidepanel-active {
    margin-left: -1px;
    position: relative;
}

.sidepanel-active.navbar-header {
    display: none;
}

.status-bar.sidepanel-active {
    margin-left: -1px;
    position: relative;
    margin-top: -5px;
}

.tabbable .nav.nav-tabs.sidepanel-active {
    display: block;
    overflow: hidden;
    margin-left: 0;
    position: relative;
    top: -4px;
    margin-bottom: 4px;
}

.sidepanel-icon.sidepanel-active {
    margin-left: -8px;
}

.content.sidepanel-active, .content-detail.sidepanel-active, .content.sidepanel-content {
    margin-top: 0;
}

.sidepanel {
    display: none;
    width: 84%;
    left: -84%;
}

.mainpanel {
    left: 0;
    width: 100%;
}

.page.sidepanel-active {
    overflow: hidden;
}

.sidepanel.sidepanel-active {
    float: left;
    position: absolute;
    display: block;
}

.mainpanel.sidepanel-active {
    float: right;
    white-space: nowrap;
}

.nav.sidepanel-active {
    display: none;
}

.sidepanel-active .right-text {
    display: none;
}

#mainpanel-overlay.sidepanel-active {
    float: right;
    left: 84%;
    width: 16%;
    z-index: 5000;
    height: 100%;
    position: absolute;
}

.navbar-sidepanel {
    position: relative;
}

.divider-vertical.in-navbar-sidepanel {
    background-color: #5e5e5e;
    border-right-color: #353535;
}

.brand.in-navbar.in-sidepanel {
    color: #0490c2;
}
