.timeline .type {
    width: 36px;
    height: 36px;
    margin-right: 3px;
    vertical-align: auto;
}

.timeline .type.PREGNANCY {
    content: url(../img/icons/icon-event-anc.png);

}

.timeline .type.FPCHANGE {
    content: url(../img/icons/icon-event-fp.png);
}

.timeline .type.ANCVISIT {
    content: url(../img/icons/icon-event-anc.png);
}

.timeline .type.IFAPROVIDED {
    content: url(../img/icons/icon-event-ifa.png);
}

.timeline .type.TTSHOTPROVIDED {
    content: url(../img/icons/icon-event-ifa.png);
}

.timeline .type.CHILD-BIRTH {
    content: url(../img/icons/icon-event-birth.png);
}

.timeline .type.ECREGISTERED {
    content: url(../img/icons/icon-event-ecregistered.png);
}

.show-more-button {
    display: none;
}
