.content {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 105px;
}

.tab-content {
    margin-left: 10px;
    margin-right: 10px;
}

.tabbable ul li {
    font-weight: bold;
    font-size: 16px;
}

.tabbable ul li a {
    line-height: 34px;
}

.tabbable ul {
    background-color: #d3d3d3;
    height: 50px;
    top: 48px;
}
