.content {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 105px;
}

.tab-content {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.tabbable ul {
    background-color: #d3d3d3;
    height: 50px;
    top: 48px;
    border-bottom: 3px solid #08C;
}

.tabbable ul li {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.tabbable ul li.overdue {
    width: 40%;
}

.tabbable ul li.upcoming {
    width: 30%;
}

.tabbable ul li.completed {
    width: 30%;
}

.tabbable ul li:not(.active) a, .tabbable ul li:not(.active) a:hover {
    color: #4c4c4c;
    line-height: 34px;
    background-color: transparent;
    -webkit-box-shadow: none;

    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.tabbable ul li.active a, .tabbable ul li.active a:hover {
    color: #08C;
    line-height: 34px;
    border-bottom: 8px solid #08C;
    background-color: transparent;

    -webkit-box-shadow: none;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;
}
