{{#each ec}}
    <div class="row-fluid">
        <a data-caseId={{caseId}} class="ec-list-item" onClick="javascript: return true;">
            <div class="span9">
                <ul class="ec-details unstyled">
                    <li class="ec-name">{{wifeName}}</li>
                    <li>{{village}}</li>
                    <li>EC#: {{ecNumber}}</li>
                </ul>
            </div>

            <div class="span3 high-risk">
                    {{#if isHighRisk}}
                        High Risk
                    {{/if}}
            </div>

            <div class="divider divider-padding-bottom"></div>
        </a>
    </div>
{{/each}}
