<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <a class="brand list ellipsis" href="#"><span class="navbar-brand-icon-holder"><i class="icon-book icon-white navbar-brand-icon"></i> </span>
            Workplan: {{village}}</a>
    </div>
</div>
<div id="content" class="content">
    <h3 class="priority-header">Soon</h3>
    {{#each alerts}}
        <div class="alert high-priority">
            <div class="row-fluid">
                <div class="span1"><i class="icon-warning-sign"></i></div>
                <div class="span11">
                    <div class="beneficiaryName">{{beneficiaryName}}</div>
                    <div class="dueDate">{{dueDate}}</div>
                    <div class="detail">{{description}}</div>
                </div>
            </div>
        </div>
    {{/each}}
    <div class="alert low-priority">
            <div class="row-fluid">
                <div class="span1"><i class="icon-warning-sign"></i></div>
                <div class="span11">
                    <div class="beneficiaryName">Akarishma</div>
                    <div class="villageName">Bherya</div>
                    <div class="detail">Lorem ipsum dolor sit amet</div>
                </div>
            </div>
    </div>
</div>
