<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.ei.opensrp.mcare">

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:name=".application.McareApplication"
         >

        <activity
            android:name=".LoginActivity"
            android:theme="@android:style/Theme.Holo"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="landscape"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NativeHomeActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="landscape"/>
        <activity android:name=".household.HouseHoldSmartRegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppThemeNoActionBarAndTitle"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="landscape"/>
        <activity android:name=".household.tutorial.tutorialCircleViewFlow"
            android:theme="@style/AppThemeNoActionBarAndTitle"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="landscape"/>
        <activity android:name=".household.HouseHoldDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppThemeNoActionBarAndTitle"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="landscape"/>
        <activity android:name=".elco.ElcoSmartRegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppThemeNoActionBarAndTitle"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="landscape"/>
        <activity android:name=".elco.ElcoDetailActivity"
            android:theme="@style/AppThemeNoActionBarAndTitle"
            android:screenOrientation="landscape"/>
        <activity android:name=".anc.mCareANCSmartRegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppThemeNoActionBarAndTitle"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="landscape"/>
        <activity android:name=".pnc.mCarePNCSmartRegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppThemeNoActionBarAndTitle"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="landscape"/>
        <activity android:name=".child.mCareChildSmartRegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppThemeNoActionBarAndTitle"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="landscape"/>
        <activity android:name=".anc.mCareAncDetailActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:screenOrientation="landscape"/>
        <activity android:name=".pnc.mCarePncDetailActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:screenOrientation="landscape"/>
        <activity android:name=".child.ChildDetailActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:screenOrientation="landscape"/>

    </application>

</manifest>
