<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.ei.opensrp.indonesia">

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:name=".application.BidanApplication"
        >
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b74c58c94d8965151212e8ecf1f4fdfbf5b7f4e4" />
        <activity
            android:name=".LoginActivity"
            android:theme="@android:style/Theme.Holo"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="landscape"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BidanHomeActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="landscape"/>
        <activity android:name=".kartu_ibu.NativeKISmartRegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppThemeNoActionBarAndTitle"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".kartu_ibu.KIDetailActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoTitle"/>
        <activity android:name=".kb.NativeKBSmartRegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppThemeNoActionBarAndTitle"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".kb.KBDetailActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoTitle"/>
        <activity android:name=".anc.NativeKIANCSmartRegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppThemeNoActionBarAndTitle"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".anc.ANCDetailActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoTitle"/>
        <activity android:name=".pnc.NativeKIPNCSmartRegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppThemeNoActionBarAndTitle"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".pnc.PNCDetailActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoTitle"/>
        <activity android:name=".child.NativeKIAnakSmartRegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppThemeNoActionBarAndTitle"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".child.AnakDetailActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoTitle"/>
    </application>

</manifest>
