<div class="span7 full-height span-no-margin width-without-margins">
    <div class="row-fluid full-height">
        <div class="span5 full-height span-no-margin width-without-margins">
            <div class="row-fluid full-height">
                <div class="span8 full-height span-no-margin width-without-margins span-content">
                    <div ng-show="client.visits.hb['Hb Test']"
                         data-ng-repeat="hb in client.visits.hb['Hb Test'].slice(0, 3)" class="row-fluid hb">
                        <div class="span1 width-without-margins hb-legend"
                             ng-class="{
                             'hb-legend-dangerous': hb.data.hbLevel < 7,
                             'hb-legend-high': hb.data.hbLevel >= 7 && hb.data.hbLevel < 11,
                             'hb-legend-normal': hb.data.hbLevel >= 11
                             }">
                        </div>
                        <div class="span5 span-no-margin width-without-margins hb-content">
                            <span>{{hb.visit_date | date:'dd/MM' }}</span>
                        </div>
                        <div class="span6 span-no-margin width-without-margins hb-content hb-content-right-aligned">
                            <span>{{hb.data.hbLevel}}g/dl</span>
                        </div>
                    </div>
                </div>
                <div class="span4 line-right full-height span-no-margin width-without-margins span-content">
                    <button ng-click="openMicroForm('hb_test', client.entityId)" class="btn btn-primary complete btn-sr btn-new-form full-height">
                        <div><span class="text-bold">Hb Test</span></div>
                    </button>
                </div>
            </div>
        </div>
        <div class="span7 full-height span-no-margin width-without-margins">
            <div class="row-fluid full-height span-no-margin width-without-margins">
                <div class="span7 line-right full-height span-no-margin width-without-margins span-content">
                    <div ng-show="client.visits.ifa['IFA']"
                         data-ng-repeat="ifa in client.visits.ifa['IFA'].slice(0, 3)">
                        <div class="row-fluid hb">
                            <div class="span4 span-no-margin width-without-margins hb-content">
                                {{ifa.visit_date | date: 'dd/MM'}}
                            </div>
                            <div class="span8 span-no-margin width-without-margins hb-content hb-content-right-aligned">
                                <i class="icon-ok green"></i> {{ifa.data.dose}} Tablets
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span5 full-height span-no-margin width-without-margins span-content">
                    <!--IFA-->
                    <a class="btn btn-primary btn-sr full-height"
                       ng-show="client.visits.ifa.next && client.visits.ifa.next.status != 'complete'"
                       ng-class="client.visits.ifa.next.status"
                       ng-click="openMicroForm('ifa', client.entityId)">
                        <span class="text-bold">IFA Tablets</span>
                        <br/>
                        <span>Due {{client.visits.ifa.next.visit_date | date: 'dd/MM'}}</span>
                    </a>
                    <a class="btn btn-primary btn-sr full-height complete"
                            ng-show="(client.visits.ifa.next && client.visits.ifa.next.status == 'complete') ||
                                (!client.visits.ifa.next)">
                        <div class="done-icon full-height">
                            <i class="icon-ok green icon-large"></i>
                        </div>
                        <span class="text-bold">IFA {{sumIFATablets(client.visits.ifa)}}</span>
                        <br/>
                        <span>On {{client.visits.ifa.previous.visit_date | date: 'dd/MM'}}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

