<div class="span3 span-no-margin width-without-margins line-right span-content"
        data-ng-repeat="schedule in ['bcg', 'opv', 'hepb', 'dpt']">
    <button ng-show="client.visits[schedule].next"
            class="btn btn-primary btn-large btn-sr btn-visit-status"
            ng-class="client.visits[schedule].next.status"
            ng-click="openForm('pnc_visit', client.entityId);">
        <span class="text-bold">{{client.visits[schedule].next.name}}</span>
        <br/>
        <ng-switch on="client.visits[schedule].next.status">
            <span ng-switch-when="complete">Done {{client.visits[schedule].next.visit_date | date:"dd/MM"}}</span>
            <span ng-switch-default>due {{client.visits[schedule].next.visit_date | date:"dd/MM"}}</span>
        </ng-switch>
    </button>
    <button class="btn btn-large btn-sr btn-visit-status btn-done btn-new-form"
            ng-show="!client.visits[schedule].next"
            ng-click="openForm('pnc_visit', client.entityId)">{{schedule}}
    </button>
    <span ng-show="client.visits[schedule].previous" class="previous-alert">
        <i class="icon-ok green"></i>
        <span class="text-upper">{{client.visits[schedule].previous.name}}: </span><span>{{client.visits[schedule].previous.visit_date | date:"dd/MM"}}</span>
    </span>
</div>