<div class="span3 span-no-margin width-without-margins line-right span-content">
    <sr-service-button class="full-height" sr-bind="client.visits.measles"
                       ng-click="openForm('child_immunizations', client.entityId)"></sr-service-button>
</div>
<div class="span3 span-no-margin width-without-margins line-right span-content">
    <sr-service-button class="full-height" sr-bind="client.visits.opvbooster"
                       ng-click="openForm('child_immunizations', client.entityId)"></sr-service-button>
</div>
<div class="span3 span-no-margin width-without-margins line-right span-content">

</div>
<div class="span3 span-no-margin width-without-margins line-right span-content">

</div>