<ul style="list-style-type: none;">
    <li style="float: left; margin: 10px;">
        <button class="btn-large" ng-disabled="currentPage <= 0" ng-click="currentPage=currentPage-1">
            Previous
        </button>
    </li>
    <li style="float: left; margin: 10px;">
        <button class="btn-primary btn-large" ng-disabled="currentPage >= numberOfPages-1"
                ng-click="currentPage=currentPage+1">Next
        </button>
    </li>
    <li style="float: left; margin: 10px;align-content: center">
        Page {{currentPage+1}} of {{numberOfPages}}
    </li>
</ul>
