//TODO: #Delete
<div id="sidepanel" class="sidepanel affected-by-sidepanel">
    <div class="menu-background">
        <div class="navbar navbar-fixed-top navbar-sidepanel">
            <div class="navbar-inner nav-sidepanel">
                <span class="brand in-navbar in-sidepanel" href="#"><img src="../img/icons/nav-logo.png"></span>

                <ul class="nav pull-right">
                    <li><img class="progress-indicator hidden" src="../img/progress.gif"></img></li>
                </ul>
            </div>
        </div>

        {{> anm_navigation}}
    </div>
</div>

<div id="mainpanel-overlay" class="affected-by-sidepanel">
</div>
