<div class="tabbable">
    <ul class="nav nav-tabs navbar-fixed-top affected-by-sidepanel">
        <li class="active overdue"><a href="#overdue" data-toggle="tab">Overdue (<span id="overdue-count">{{overdue.length}}</span>)</a>
        </li>
        <li class="upcoming"><a href="#upcoming" data-toggle="tab">To Do (<span
                id="upcoming-count">{{upcoming.length}}</span>)</a></li>
        <li class="completed"><a href="#completed" data-toggle="tab">Done (<span id="completed-count">{{completed.length}}</span>)</a>
        </li>
    </ul>
</div>

<div class="tab-content container-fluid container-no-padding">
    <div class="tab-pane overdue active" id="overdue">
    </div>

    <div class="tab-pane upcoming" id="upcoming">
    </div>

    <div class="tab-pane completed" id="completed">
    </div>
</div>
