.navbar .navbar-inner {
    padding-left: 15px;
    zoom: 125%;
}

.navbar.navbar-fixed-top {
    margin-left: -10px;
}

.navbar .navbar-inner {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#0a8bcc), to(#1b84bb));
    background: -webkit-linear-gradient(top, #0a8bcc 0%, #1b84bb 100%)
}

.menu-button-container .menu-button {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#555), to(#222));
    background: -webkit-linear-gradient(top, #555 0%, #222 100%);
    color: #fff;
    border-radius: 4px;
    text-align: center;
    height: 90px;
    min-height: 0px;
    padding-top: 20px;
    font-size: 16px;
}

.menu-button-row-padding {
    padding-top: 6px;
    padding-bottom: 10px;
}

.menu-background {
    background: #343434;
}

.menu-icon {
    margin-bottom: 10px;
}

.brand.list {
    margin-top: 2px;
    color: #e8fdfe;
    font-weight: 500;
}

.navbar-brand-icon-holder {
    background-color: #333;
    padding-left: 4px;
    margin-left: 5px;
    margin-right: 12px;
    border-radius: 2px;
}

.navbar-brand-icon {
    margin-top: 6px;
}

.navbar-icon {
    margin-top: 12px;
    margin-bottom: 12px;
}

.nav.pull-right:last-child {
    padding-right: 9px;
}

.ec-status.high-priority {
    color: #f51136 !important;
    font-size: 18px;
}

.divider-vertical.list {
    background-color: #5fc2e5;
    border-right-color: #39a2d0;
}

.alert {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 14px;
    margin-bottom: 10px;
    background-color: #fff7bc;
    border: 1px solid #ebe3a9;
}

.alert.alert-info {
    background-color: #aedae9;
    border: 1px solid #9dc4d3;
}

.ec-container {
    padding: 8px;
}

.menu-button-container {
    padding: 5px;
}

.ec-name {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 6px;
}

.ec-information-button {
    padding-left: 4px;
    padding-right: 4px;
}

.content {
    margin-top: 50px;
    padding-top: 2px;
}

.divider {
    height: 1px;
    width: 100%;
    overflow: hidden;
    background-color: #b4b4b4;
    border-bottom: 1px solid #ffffff;
}

.menu-option-divider {
    height: 1px;
    width: 100%;
    overflow: hidden;
    background-color: #6a6a6a;
    border-bottom: 1px solid #646464;
}

.divider.divider-padding-top {
    margin-top: 10px;
}

.divider.divider-padding-bottom {
    margin-bottom: 10px;
}

.divider.divider-padding-both {
    margin-top: 5px;
    margin-bottom: 5px;
}

.container-no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.well-for-beneficiary-details {
    padding: 8px;
    padding-top: 0px;
    margin-bottom: 0px;
    background-color: #ffffff;
    box-shadow: 2px 2px 3px 1px #ccc;
    -webkit-box-shadow: 2px 2px 3px 1px #ccc;
    border: 1px solid #ccc;
}

.beneficiary-detail-component {
    padding-top: 8px;
}

.beneficiary-detail-component .beneficiary-detail-header {
    font-weight: bold;
    margin-bottom: 4px;
}

.family-planning-button {
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 6px;
    display: block;
}

.family-planning-current {
    font-weight: 500;
    margin-left: 5px;
    font-size: larger;
}

.ec-child {
    display: inline-block;
    padding: 10px;
    width: 60px;
    border-radius: 4px;
    margin-right: 5px;
}

.ec-child.boy {
    background-color: #beedf0;
}

.ec-child.girl {
    background-color: #f5dcf3;
}

body {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #f2f2f2;
    background-image: url("../img/background.png");
}

.ec-timeline-details {
    padding-right: 10px;
    padding-left: 10px;
}

.ec-timeline-details .ec-timeline-details-component {
    margin-bottom: 10px;
}

.ec-timeline-details:last-child {
    margin-bottom: -10px;
}

.ec-actions-button {
    font-weight: bold;
    display: block;
}

.ec-list-item .high-risk {
    color: red;
}

.pull-text-completely-right {
    float: right;
    text-align: right;
}

.ec-list-item, .ec-list-item:hover, .ec-list-item:visited, .ec-list-item:visited:hover {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #333;
}

.ec-list-item .ec-name {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: -6px;
}

.menu-option div[class*="span"] {
    min-height: 0px;
}

.content .menu-option {
    font-weight: 500;
    font-size: 18px;
    color: #d5d5d5;
    min-height: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.home-menu-icon, .home-menu-icon:hover, .home-menu-icon:visited, .home-menu-icon:visited:hover {
    text-decoration: none;
    color: #d5d5d5;
}