.navbar .navbar-inner.nav-sidebar {
    padding-left: 15px;
    zoom: 125%;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#292929), to(#212121));
    background: -webkit-linear-gradient(top, #292929 0%, #212121 100%)
}

.navbar.sidepanel-active {
    margin-left: 0px;
    position: relative;
}

.brand.sidepanel-active .name {
    display: none;
}

.brand.sidepanel-active {
    text-overflow: clip;
}

.content.sidepanel-active, .content.sidebar-content {
    margin-top: 0px;
}

.menu-button-container {
    padding: 5px;
    padding-bottom: 0px;
}

.sidepanel {
    display: none;
}

.mainpanel {
    left: 0%;
    width: 100%
}

.page {
    overflow: hidden;
    height: 460px;
}

.sidepanel.sidepanel-active {
    float: left;
    left: 0%;
    width: 84%;
    display: block;
}

.mainpanel.sidepanel-active {
    float: right;
    left: 84%;
    width: 16%
}

#mainpanel-overlay.sidepanel-active {
    float: right;
    left: 84%;
    width: 16%;
    z-index: 5000 ;
    height: 100%;
    position: absolute;
}

.navbar-sidebar {
    position: relative;
}

.menu-button-container .menu-button {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#555), to(#222));
    background: -webkit-linear-gradient(top, #555 0%, #222 100%);
    color: #fff;
    border-radius: 4px;
    text-align: center;
    height: 80px;
    min-height: 0px;
    padding-top: 10px;
    font-size: 16px;
}

.menu-button-row-padding {
    padding-top: 6px;
    padding-bottom: 4px;
}

.menu-background {
    background: #343434;
}

.menu-icon {
    margin-bottom: 10px;
}

.brand.in-navbar {
    margin-top: 2px;
    color: #e8fdfe;
    font-weight: 500;
}

.brand.in-navbar.in-sidebar {
    color: #0490c2;
}

.navbar-brand-icon-holder {
    background-color: #333;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 0px;
    margin-right: 12px;
    border-radius: 2px;
}

.navbar-brand-icon-holder.affected-by-sidepanel.sidepanel-active {
    margin-left: -5px;
}

.navbar-brand-icon {
    margin-top: 6px;
}

.navbar-icon {
    margin-top: 12px;
    margin-bottom: 12px;
}

.nav.pull-right:last-child {
    padding-right: 9px;
}

.ec-status.high-priority {
    color: #f51136 !important;
    font-size: 18px;
}

.divider-vertical.in-navbar {
    background-color: #5fc2e5;
    border-right-color: #39a2d0;
}

.divider-vertical.in-navbar-sidebar {
    background-color: #5e5e5e;
    border-right-color: #353535;
}
