.navbar .navbar-inner.nav-sidepanel {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#292929), to(#212121));
    background: -webkit-linear-gradient(top, #292929 0%, #212121 100%)
}

.navbar.sidepanel-active {
    margin-left: 0px;
    position: relative;
}

.brand.sidepanel-active .name {
    display: none;
}

.brand.sidepanel-active {
    text-overflow: clip;
}

.content.sidepanel-active, .content.sidepanel-content {
    margin-top: 0px;
}

.sidepanel {
    display: none;
}

.mainpanel {
    left: 0%;
    width: 100%
}

.page.sidepanel-active {
    overflow: hidden;
}

.sidepanel.sidepanel-active {
    float: left;
    left: 0%;
    width: 84%;
    display: block;
}

.mainpanel.sidepanel-active {
    float: right;
    left: 84%;
    white-space: nowrap;
    width: 16%
}

.nav.sidepanel-active {
    display: none;
}

#mainpanel-overlay.sidepanel-active {
    float: right;
    left: 84%;
    width: 16%;
    z-index: 5000 ;
    height: 100%;
    position: absolute;
}

.navbar-sidepanel {
    position: relative;
}

.divider-vertical.in-navbar-sidepanel {
    background-color: #5e5e5e;
    border-right-color: #353535;
}
.brand.in-navbar.in-sidepanel {
    color: #0490c2;
}

.navbar-brand-icon-holder.affected-by-sidepanel.sidepanel-active {
    margin-left: -5px;
}
