.content {
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.priority-header {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #1b84bb;
}

.alert.high-priority {
    background-color: #fbf6bb;
    border-color: #fbf6bb;
    color: #333;
}

.alert.low-priority {
    background-color: #b5d6e9;
    border-color: #b5d6e9;
    color: #333;
}

.alert .beneficiaryName {
    font-weight: 700;
    font-size: 16px;
}

.alert .dueDate {
    font-size: 15px;
    margin-top: 2px;
}

.alert .detail {
    font-weight: 600;
    font-size: 16px;
    margin-top: 5px;
}
