<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.ei.drishti"
          android:versionCode="32"
          android:versionName="3.0.1"
          android:installLocation="auto">

    <compatible-screens>
        <screen
                android:screenSize="large"
                android:screenDensity="ldpi"/>
        <screen
                android:screenSize="large"
                android:screenDensity="mdpi"/>
        <screen
                android:screenSize="large"
                android:screenDensity="hdpi"/>
        <screen
                android:screenSize="large"
                android:screenDensity="xhdpi"/>

        <screen
                android:screenSize="xlarge"
                android:screenDensity="ldpi"/>
        <screen
                android:screenSize="xlarge"
                android:screenDensity="mdpi"/>
        <screen
                android:screenSize="xlarge"
                android:screenDensity="hdpi"/>
        <screen
                android:screenSize="xlarge"
                android:screenDensity="xhdpi"/>

        <!-- Special case for Nexus 7 -->
        <screen
                android:screenSize="large"
                android:screenDensity="213"/>
    </compatible-screens>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-feature
            android:name="android.hardware.camera"
            android:required="false"/>
    <uses-sdk
            android:minSdkVersion="16"
            android:targetSdkVersion="16"/>

    <application
            android:label="@string/app_name"
            android:icon="@drawable/ic_dristhi_logo"
            android:clearTaskOnLaunch="true"
            android:name=".view.activity.DrishtiApplication"
            android:largeHeap="true">
        <activity
                android:name=".view.activity.LoginActivity"
                android:theme="@android:style/Theme.Holo.NoActionBar"
                android:clearTaskOnLaunch="true"
                android:windowSoftInputMode="adjustResize|stateHidden"
                android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".view.activity.HomeActivity"
                android:screenOrientation="landscape"/>
        <activity
                android:name=".view.activity.ReportsActivity"
                android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
                android:screenOrientation="landscape"/>
        <activity
                android:name=".view.activity.VideosActivity"
                android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
                android:screenOrientation="landscape"/>
        <activity
                android:name=".view.activity.ReportIndicatorListViewActivity"
                android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
                android:screenOrientation="landscape"/>
        <activity
                android:name=".view.activity.ReportIndicatorDetailActivity"
                android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
                android:screenOrientation="landscape"/>
        <activity
                android:name=".view.activity.ReportIndicatorCaseListActivity"
                android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
                android:screenOrientation="landscape"/>
        <activity
                android:name=".view.activity.EligibleCoupleDetailActivity"
                android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
                android:screenOrientation="landscape"/>
        <activity
                android:name=".view.activity.ANCDetailActivity"
                android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
                android:screenOrientation="landscape"/>
        <activity
                android:name=".view.activity.PNCDetailActivity"
                android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
                android:screenOrientation="landscape"/>
        <activity
                android:name=".view.activity.ChildDetailActivity"
                android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
                android:screenOrientation="landscape"/>
        <activity
                android:name=".view.activity.CameraLaunchActivity"
                android:theme="@android:style/Theme.Holo.NoActionBar"
                android:screenOrientation="landscape"/>
        <activity
                android:name=".view.activity.ECSmartRegisterActivity"
                android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
                android:screenOrientation="landscape"/>
        <activity
                android:name=".view.activity.FPSmartRegisterActivity"
                android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
                android:screenOrientation="landscape"/>
        <activity
                android:name=".view.activity.ANCSmartRegisterActivity"
                android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
                android:screenOrientation="landscape"/>
        <activity
                android:name=".view.activity.PNCSmartRegisterActivity"
                android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
                android:screenOrientation="landscape"/>
        <activity
                android:name=".view.activity.ChildSmartRegisterActivity"
                android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
                android:screenOrientation="landscape"/>
        <activity
                android:name=".view.activity.FormActivity"
                android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".view.activity.MicroFormActivity"
                android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"
                android:screenOrientation="landscape"/>
        <activity
                android:name=".view.activity.NativeECSmartRegisterActivity"
                android:screenOrientation="landscape"
                android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>

        <activity
                android:name=".view.activity.NativeChildSmartRegisterActivity"
                android:screenOrientation="landscape"
                android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>

        <activity
                android:name=".view.activity.NativeFPSmartRegisterActivity"
                android:screenOrientation="landscape"
                android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>

        <activity
                android:name=".view.activity.NativeANCSmartRegisterActivity"
                android:screenOrientation="landscape"
                android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>


        <activity
                android:name=".view.activity.NativePNCSmartRegisterActivity"
                android:screenOrientation="landscape"
                android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>


        <activity android:name=".view.activity.NativeHomeActivity"
                  android:screenOrientation="landscape">
        </activity>

        <receiver android:name=".view.receiver.SyncBroadcastReceiver"/>
        <receiver android:name=".view.receiver.ConnectivityChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
