<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.ei.drishti" android:versionCode="1" android:versionName="1.6" android:installLocation="auto">

    <supports-screens android:anyDensity="true"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="10"/>

    <application android:label="@string/app_name" android:icon="@drawable/icon" android:clearTaskOnLaunch="true"
                 android:name=".view.activity.DrishtiApplication">
        <activity android:name=".view.activity.LoginActivity" android:theme="@android:style/Theme.Light.NoTitleBar"
                  android:clearTaskOnLaunch="true" android:windowSoftInputMode="adjustResize|stateHidden"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".view.activity.HomeActivity" android:theme="@android:style/Theme.Light.NoTitleBar"
                  android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.WorkplanActivity" android:theme="@android:style/Theme.Light.NoTitleBar"
                  android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.ReportsActivity" android:theme="@android:style/Theme.Light.NoTitleBar"
                  android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.ReportIndicatorListViewActivity" android:theme="@android:style/Theme.Light.NoTitleBar"
                  android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.ReportIndicatorDetailActivity" android:theme="@android:style/Theme.Light.NoTitleBar"
                  android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.ReportIndicatorCaseListActivity" android:theme="@android:style/Theme.Light.NoTitleBar"
                  android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.EligibleCoupleListActivity" android:theme="@android:style/Theme.Light.NoTitleBar"
                  android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.EligibleCoupleDetailActivity" android:theme="@android:style/Theme.Light.NoTitleBar"
                  android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.ANCListActivity" android:theme="@android:style/Theme.Light.NoTitleBar"
                  android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.ANCDetailActivity" android:theme="@android:style/Theme.Light.NoTitleBar"
                  android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.PNCListActivity" android:theme="@android:style/Theme.Light.NoTitleBar"
                  android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.PNCDetailActivity" android:theme="@android:style/Theme.Light.NoTitleBar"
                  android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.ChildListActivity" android:theme="@android:style/Theme.Light.NoTitleBar"
                  android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.ChildDetailActivity" android:theme="@android:style/Theme.Light.NoTitleBar"
                  android:screenOrientation="portrait"/>
    </application>
</manifest>
