<div class="span4 span-no-margin width-without-margins full-height">
    <div class="row-fluid full-height">
        <div class="span4 span-no-margin width-without-margins line-right span-content">
            <span class="text-bold text-bigger">{{daysPP(client)}}</span>
            <br/>
            <span>DOB: </span>
            <span class="text-bold">{{client.deliveryDate | date:'dd/MM'}}</span>
        </div>
        <div class="span8 span-no-margin width-without-margins line-right span-content">{{client.deliveryComplications | camelCase | humanize}}</div>
    </div>
</div>
<div class="span4 span-no-margin width-without-margins line-right span-content">First 7 Days</div>
<div class="span2 span-no-margin width-without-margins line-right span-content">
    <p data-ng-repeat="visit in client.services_provided | filter:isPNCService |  orderBy:'-date' | limitTo:3" class="text-left text-bold">
        <span>14 </span>
        <span class="text-due">{{visit.date | date:'dd/MM' }}</span>
    </p>
</div>
<div class="span2 span-no-margin width-without-margins line-right span-content">
        <button ng-click="openForm('pnc_visit', client.entityId);" class="btn btn-primary btn-large normal btn-sr normal">
            <span class="text-bold">PNC Visit</span>
            <br/>
            <span>due 06/04</span>
        </button>
        <span class="previous-alert">
            <i class="icon-ok green"></i>
            <span class="text-upper">PNC: </span><span>04/04</span>
        </span>
</div>